body 
{
	font-family: sans-serif;
}
.tableCards
{
	height: 200px;
	border-collapse: collapse;
	border: solid 1px black;
	width: 100%;
	table-layout: fixed ;
}
.tableCards td
{
	border-left: 1px solid black;
    border-right: 1px solid black;
	text-align: center;
	width: 7.69%; /* 100% / 13 cartes */
	height: 17%;;

}
.tableCards td img
{
	width: 20px;
}
.cardHeader td
{
	height:15% !important;
}
h1
{
	text-align: center;
}
#activeGamesContainer
{
	display:none;
	width: 85%;
	float: left;
}
#pregameLobby
{
	display: none;
	margin: auto;
	padding: 15px;
	width: 33%;
	border: solid 1px black;
	float: left;
}
#waitingPlayers
{
	display:none;
}
#playerList
{
	border: solid 1px black;
}
.gameRoom
{
	border: solid 1px black;
	margin: 10px;
	width: 20%;
	float: left;
}
#statusbar
{
	float: right;
	width: 15%;
	height: 100%;
	margin: 0;
	font-size: small;
	font-style: italic;
	/* border: solid 1px red; */
}
#statusbar p
{
	margin: 8px 0px 8px 0px;
}
#game
{
	display: none;
}
#dealer
{
	display: none;
	margin-top: 3%;
	text-align: center;
}
#card
{
	width: 200px;
	height: 300px;
	border: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#cardImg
{
	width: 200px;
}
.cardHeader
{
	height: 50px;
}
.gamePlayerList
{
	width: 100%;
	height: 4%;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	table-layout: fixed;
}
.gamePlayerList td 
{
	white-space: nowrap;
	overflow: hidden;
}
.dealerToken
{
	color: red;
	font-weight: bold;
}