<html>
<head>
	<title>Fuck ze dealer</title>
	<link href="/static/fuckthedealer/style.css" rel="stylesheet">
<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	<div id="pregameLobby">
		<h1>FUCK THE DEALER</h1>
		<label for="playerName">Surnom : </label>
		<input type="text" id="playerName" name="playerName"/>
		<br/>
		<br/>
		<button onclick="playerConnection()">Rejoindre</button>
		<br/>
		<h2>Joueurs en attente</h2>
		<div id="playerList">
			<ul></ul>
		</div>
		<button onclick="newGame()">Lancer la partie</button>
	</div>
	<div id="game">
		<table class=" gamePlayerList">
			<tr id="gamePlayerList">
			</tr>
		</table>
		<table class="tableCards">
			<tr class="cardHeader">
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>V</td>
				<td>D</td>
				<td>R</td>
				<td>A</td>
			</tr>
			<tr>
				<td id="2"><img id="carreau-2" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="3"><img id="carreau-3" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="4"><img id="carreau-4" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="5"><img id="carreau-5" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="6"><img id="carreau-6" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="7"><img id="carreau-7" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="8"><img id="carreau-8" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="9"><img id="carreau-9" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="10"><img id="carreau-10" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="V"><img id="carreau-V" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="D"><img id="carreau-D" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="R"><img id="carreau-R" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
				<td id="A"><img id="carreau-A" src="/static/fuckthedealer/img/cartes/carreau.jpg"></img></td>
			</tr>
			<tr>
				<td id="2"><img id="pique-2" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="3"><img id="pique-3" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="4"><img id="pique-4" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="5"><img id="pique-5" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="6"><img id="pique-6" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="7"><img id="pique-7" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="8"><img id="pique-8" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="9"><img id="pique-9" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="10"><img id="pique-10" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="D"><img id="pique-V" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="D"><img id="pique-D" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="R"><img id="pique-R" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
				<td id="A"><img id="pique-A" src="/static/fuckthedealer/img/cartes/pique.jpg"></img></td>
			</tr>
			<tr>
				<td id="2"><img id="coeur-2" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="3"><img id="coeur-3" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="4"><img id="coeur-4" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="5"><img id="coeur-5" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="6"><img id="coeur-6" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="7"><img id="coeur-7" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="8"><img id="coeur-8" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="9"><img id="coeur-9" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="10"><img id="coeur-10" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="V"><img id="coeur-V" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="D"><img id="coeur-D" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="R"><img id="coeur-R" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
				<td id="A"><img id="coeur-A" src="/static/fuckthedealer/img/cartes/coeur.jpg"></img></td>
			</tr>
			<tr>
				<td id="2"><img id="trefle-2" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="3"><img id="trefle-3" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="4"><img id="trefle-4" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="5"><img id="trefle-5" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="6"><img id="trefle-6" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="7"><img id="trefle-7" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="8"><img id="trefle-8" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="9"><img id="trefle-9" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="10"><img id="trefle-10" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="V"><img id="trefle-V" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="D"><img id="trefle-D" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="R"><img id="trefle-R" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
				<td id="A"><img id="trefle-A" src="/static/fuckthedealer/img/cartes/trefle.jpg"></img></td>
			</tr>
		</table>
	</div>
	<div id="dealer">
		<div id="card">
			<img id="cardImg" ></img>
			<!-- src="/static/fuckthedealer/img/cartes/dos.jpg" -->
		</div>
		<button id="found" onclick="found()">Ce con a trouvé la carte</button>
		<button id="notFound" onclick="notFound()">Ce con picole</button>
	</div>
	
	
</body>
<script src="/static/fuckthedealer/script.js"></script>
<script src="/static/jquery.min.js"></script>
</html>