<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/paco/paco_game.css" />
        <title>Paco</title>
<button onclick="test()">Test</button>
    </head>
 
    <body>
        
        <h1>PACO</h1>


        <div id="game">

            <fieldset id="infos">
                <legend>Informations</legend>
                <div id="infos_content"></div>
            </fieldset>

            <fieldset id="gameStatus">
                <legend>État de la partie</legend>
                <div id="gameStatus_content">
                    <input type="button" id="start_button" value ="Commencer la partie" />
                </div>
            </fieldset>

            <fieldset id="call">
                <legend>Mon annonce</legend>
                <div id="call_content"></div>
            </fieldset>

            <div id="enders_buttons"></div> <!-- values generated into js file -->

            <fieldset id="dices">
                <legend>Mes dés</legend>
                <div id="dices_content">
                    <input type="button" id="getDices_button" value="Lancer les dés" disabled/>
                </div>
            </fieldset>

            <fieldset id="players">
                <legend>Joueurs connectés</legend>
                <div id="players_content"></div>
            </fieldset>

        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="../../static/paco/paco_game.js"></script>
    </body>
</html>