<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/drinkingWar/drinkingWar_home.css" />
        <title>DrinkingWar</title>
    </head>
 
    <body>
		<fieldset class="game"> 
			<legend>JOUONS A DRINKING WAR</legend>
			<form method="get" id="connect">
            <label for="pseudo">Pseudo:
                <input type="text" id="pseudo" name="pseudo" autofocus required />
            </label>
            
            <div id=rooms>
            	<p>Veuillez choisir un salon :</p>
           		<div id="rooms_list">
           		</div>
           		<input type="radio" id="newRoom" name="room" value="newRoom" class="room" required><label for="newRoom">Nouveau salon</label><br>
  				
  				<div id="newRoomDiv">
            		<label for="newRoomName">Nom du salon:
            		    <input type="text" id="newRoomName" name="newRoomName" autofocus />
            		</label>
        		</div>
       		</div>
       		<br>	
            <input type="submit" id='playing_request' value="Rejoindre la partie" />
        </form>
		</fieldset>

        
        <script src="/socket.io/socket.io.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="/static/drinkingWar/drinkingWar_home.js"></script>
    </body>
</html>