/*** GENERAL ***/
html {
  background: Ivory;
}
h1, h2, div {
  color: black;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 36px;
  text-decoration: none;
  text-align: center;
}

fieldset {
  border: 1px solid black;
  border-top: 20px solid IndianRed;
  border-bottom: 10px solid IndianRed;
  background: white;
  margin: auto;
}

fieldset legend {
  text-transform: capitalize;
  font-variant: small-caps;
  background: IndianRed;
  color: Ivory;
  position: relative;
  top: -9px;
  left: 0px;
  padding: 5px 20px;
  font-size: 24px;
  border-radius: 8px 8px 0 0;
}
.you {
  color: chartreuse;
}

/*** WAITING SCREEN ***/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid IndianRed;
  border-bottom: 16px solid IndianRed;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
fieldset.waitingScreen_fieldset {
  margin-top: 50px;
  width: 60%;
}
fieldset.chooseTeam_fieldset {
  margin-top: 50px;
}
#teamPlaceHolder div {
  height: 100px;
  border: solid black 1px;
}
#team2 {
  float:left;
  width:49%;
  height:100%;
  background-color: IndianRed;
  color: Ivory;
  vertical-align: middle;
}
#team1 {
  float:left;
  width:49%;
  height:100%;
  background-color: LightBlue;
  color: Ivory;
  vertical-align: middle;
}

/*** GAME ***/
fieldset.game_fieldset {
  display: inline-block;
  width: 60%;
  float:left;
  margin-left: 50px;
  height: 70%; 
  background-image: url("/static/img/utils/play_mat.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#game {
  margin: 0 auto;
  width: 80%;
  height: 70%;
  text-align: center;
}
input {
  color: black;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 16px;
  text-decoration: none;
}
button {
  color: black;
  text-transform: capitalize;
  font-variant: small-caps;
  font-size: 16px;
  text-decoration: none;
  margin-left: 10px;
}

/*** HAND ***/
#hand_card{
  width: 100%;
}
#hand_card:hover{
  opacity:80%;
}
#hand_td:hover{
  background-color: red;
}

fieldset.hand_fieldset {
  margin-top: 50px;
  width: 100%;
}
/*** INFORMATION ***/
fieldset.information_fieldset {
  float:left;
  display: inline-block;
  width: 20%;
  height: 70%;

}
#sip_table {
  cellspacing: 0,
  cellpadding:1,
  border: 0,
  width: 300px
}
#informations_table {
  height: 97%;
  overflow: auto;
}
/*** PLAYERS ***/
#player_pict{
  width: 50px;
}
#playersName{
  text-align: left;
}
fieldset.players_fieldset {
  margin-top: 50px;
  width: 80%;
}

